@use '../../utils/styles/base' as *;

.icon {
  display: flex;

  &--triangle {
    position: absolute;
    right: 30px;

    margin-left: auto;

    path {
      fill: $borderColor;
      stroke: $borderColor;
    }
  }

  &--arrow {
    margin-left: auto;

    path {
      fill: $accentBorderColor;
      stroke: $accentBorderColor;
    }
  }
}