@use '../../utils/styles/base' as *;

.select {
  position: relative;

  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 34px 8px 20px;

  border: 1px solid $borderColor;
  border-radius: 6px;
}

.input {
  width: 60px;

  font-size: 22px;
  line-height: 1;

  border: none;
  outline: none;
}

.separator {
  display: block;
  width: 1px;
  height: auto;
  align-self: stretch;
  margin: 0 30px;

  background-color: $borderColor;
}

.selected {
  width: 100%;

  font-size: 22px;
  line-height: 1;
  color: $accentText;
}