@use '../../utils/styles/base' as *;

.icon {
  position: relative;
  display: flex;
  transition: transform 0.3s ease;

  perspective-origin: center;

  &.active {
    transform: rotate(180deg);
  }

  &.absolute {
    position: absolute;
    inset-inline-end: 30px;
  }
}