@use "vendor" as *;

/* Paths */
$icons-path: "/assets/icons";

/* Backgrounds */
$primary-background: #ebf4fb;
$secondary-background: #ffffff;
$border-color: #d9d9d9;
$accent-border-color: #000000;
$error-background: #f44336;

/* Typos */
$primary-text: #767676;
$accent-text: #000000;