@use "vendor" as *;

/* Paths */
$icons-path: "/assets/icons";

/* Backgrounds */
$primary-background: #ebf4fb;
$secondary-background: #fff;
$border-color: #d9d9d9;
$accent-border-color: #000;

/* Typos */
$primary-text: #767676;
$accent-text: #000;