@use "vendor" as *;

/* backgrounds */
$primaryBg: #ebf4fb;
$secondaryBg: #ffffff;
$borderColor: #d9d9d9;
$accentBorderColor: #000000;

/* typos */
$primaryText: #767676;
$accentText: #000000;

/* Icons */
$iconsPath: "/assets/icons";