@use '../../utils/styles/base' as *;

.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  background-color: $primaryBg;
}