@use '../../utils/styles/base' as *;

.descriptionLineWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 24px;
}

.descriptionLineHeading {
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: $accentText;
}

.descriptionLineText {
  font-size: 21px;
  line-height: 1;
}