@use '../../utils/styles/base' as *;

.list {
  position: absolute;
  inset-block-start: calc(100% + 10px);
  inset-inline-start: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;

  inline-size: 100%;
  padding: 5px;

  background-color: $secondary-background;
  border: 1px solid $border-color;
  box-shadow: 2px 2px 5px 2px $accent-border-color;
  opacity: 0;

  transition: opacity 0.3s ease;

  pointer-events: none;
  user-select: none;

  &Show {
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
  }
}