@use '../../utils/styles/base' as *;

.descriptionGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btnContainer {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 1px;

    background-color: $borderColor;
  }
}

.descriptionLinesSeparator {
  display: flex;
  flex-direction: column;
  gap: 25px;
}