@use '../../utils/styles/base' as *;

.descriptionGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btnContainer {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: '';
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 1px;

    background-color: $borderColor;
  }
}

.descriptionLinesSeparator {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.collapse {
  display: grid;
  grid-template-rows: 0fr;

  transition: grid-template-rows 0.3s ease;

  &--show {
    grid-template-rows: 1fr;
  }
}

.collapse__inner {
  min-height: 0;

  overflow: hidden;
}