@use '../../utils/styles/base' as *;

.btn {
  width: 100%;
  padding: 10px;

  font-size: 22px;
  line-height: 1;
  color: $accentText;

  border: 1px solid $borderColor;
  border-radius: 23px;
  background-color: $borderColor;

  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: transparent;
  }
}