@use '../../utils/styles/base' as *;

.more-button {
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  font-size: 22px;
  line-height: 1;
  color: $accentText;

  border: 1px solid $borderColor;
  border-radius: 23px;
  background-color: $borderColor;

  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $secondaryBg;
  }

  &--show {
  }
}