@use '../../utils/styles/base' as *;

.selectListItem {
  display: flex;

  inline-size: 100%;
  padding: 5px 10px;

  background-color: $secondary-background;
  border: 0;
  border-radius: 5px;

  color: $accent-text;
  font-size: 18px;
  line-height: 1;

  transition: background-color 0.3s ease;

  cursor: pointer;

  &:hover {
    background-color: rgba($accent-border-color, 0.5);
  }
}