@use '../../utils/styles/base' as *;

.selectListItem {
  width: 100%;
  display: flex;
  padding: 5px 10px;

  font-size: 18px;
  line-height: 1;
  color: $accentText;

  border: 0;
  border-radius: 5px;
  background-color: $secondaryBg;

  transition: background-color 0.3s ease;

  cursor: pointer;

  &:hover {
    background-color: rgba($accentBorderColor, 0.5);
  }
}

.selectListItemBtn {

}